.overviewElement {
  font-weight: bold;
  min-width: 1000px !important; }

.headerText {
  text-align: center;
  background-color: #f1f1f1;
  border-style: solid;
  border-width: 0px 0px 2px;
}


.headerText p {
  padding-top: 0.5vw;
  font-size: 1.75vw;
  font-weight: bold; }

.championElement {
  height: 29.167vw;
  min-height: 300px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}
.champChart {
  padding: 3vw;
}
.e4r5t {
/*outline: 2px solid black; */}

.skinImage {
  margin-right: 1vw;
  height: 100%; }

.thisChamp {
  display: flex;
  align-items: left;
  height: 6vw;
  width: auto; }

.thisChamp p {
  margin-left: 0.5vw;
  font-size: 4vw;
  font-weight: bold; }

.thisChamp img {
  height: 100%; }

.thisChampUl {
  list-style: none;
  padding-left: 0px;
  font-size: 1.1vw; }

.thisChampUl li {
  padding-top: 0.5vw; }

.genInfoElement {
  height: 29.167vw;
  background-color: #f1f1f1;
}

.sumonernames {
  font-size: 1.5vw; }

/* Style the list */
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-style: solid !important;
  border-width: 1px !important;
  background-color: #f1f1f1; }

/* Float the list items side by side */
ul.tab li {
  float: left;
  width: calc(100%  /3); }
.tab {
  margin-left: 15px !important;
}
/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  width: 100%; }


/* Create an active/current tablink class */
ul.tab li a:focus, .active {
  background-color: #ccc; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none; }

ul.tabChamp {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; }

/* Float the list items side by side */
ul.tabChamp li {
  float: left;
  width: calc(100% / 8); }

/* Style the links inside the list items */
ul.tabChamp li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  width: 100%; }

/* Change background color of links on hover */
ul.tabChamp li a:hover {
  background-color: #ddd; }

/* Create an active/current tablink class */
ul.tabChamp li a:focus, .active {
  background-color: #ccc; }

/* Style the tab content */
.tabcontentChamps {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}
.friendsList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  /*width: 90%;*/
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;

}
.friendsList:nth-of-type(2n) {
  background-color: #ddd;
}
.friendsList:hover {
  background-color: #ccc;
}
.friendsList li {
  /*background-color: #f9f9f9;*/
  width: 14vw;
}
.friendsList li:nth-of-type(5) {
  /*background-color: #f9f9f9;*/
  width: 25vw;
}
.friends {
  background-color: #f1f1f1;
  margin-left: 15px;
  padding-top: 20px;
}
.friends h3 {
  text-align: center;
  margin-bottom: 10px;
}
.graphs {

  background-color: #f1f1f1;
  margin-left: 15px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.champs {
  background-color: #f1f1f1;
  margin-left: 15px;
  padding-top: 20px;
}
.chart {
  /*width: 1000px;*/
  width: 80%;
  height: 450px !important;
  //border-style: solid;
  margin-top: 40px;
}
.scrollUpButton {

  height: 100px;
  width: 100px;
  position: fixed;
  background-image: url("/images/upArrow.png");
  background-size: 100px;
  bottom: 50px;
  right: 50px;
  transition: visibility 0s, opacity 0.1s linear;
}
.buttonDiv {
  height: 4vw;
}

.selectorButton {
  background-color: #f1f1f1 !important;
  color: black;
  border-radius: 0 !important;
  border-color: black;
}.selectorButton:hover {
  background-color: #ddd !important;
  color: black !important;
}
/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: #ddd !important;
  color: black !important;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: #ccc !important;
    border-color: #204d74;
}
.nullGames {

  background: linear-gradient( 0deg, #f1f1f1, #f99898 );
}
