// element fyrir overview
.overviewElement {
  //height: 560px;
  //height: 29.167vw;
  font-weight: bold;
  min-width: 1000px !important;

}

.container-fluid {
}
// headerText element
.headerText {
  //vertical-align: middle;
  text-align: center;
  //background-color: yellow;
  background-color: #f1f1f1;
}
// p in header size text
.headerText p {
  //vertical-align: middle;
  padding-top: 0.5vw;
  font-size: 1.75vw;
  font-weight: bold;
}
// champion elementid
.championElement {
  //height: 560px;
  height: 29.167vw;
  min-height: 300px;
  //height: 29.167vw;
  //background-color: red;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  //outline: 2px solid black;
}
.e4r5t {
  outline: 2px solid black;
}
.skinImage {
  margin-right: 1vw;
  //width: 308px;
  height: 100%;
}
// littla mynd og nafn
.thisChamp {
  display: flex;
  align-items: left;
  ////position: relative;
  //////width: 400px;
  ////left: 330px;
  height: 6vw;
  //background-color: red;
  width:  auto;
}
// texti fyrir littla mynd og nan
.thisChamp p {
  margin-left: 0.5vw;
  font-size: 4vw;
  font-weight: bold;
}
.thisChamp img {
  height: 100%;
}
// listinn i champs
.thisChampUl{
  list-style: none;
  padding-left: 0px;
  ////position: relative;
  ////left: 330px;
  //font-size: 20px;
  font-size: 1.1vw;
}
// hvert listaitem
.thisChampUl li{
  padding-top: 0.5vw;
}
// gen info i overview haegra meginn
.genInfoElement {
  //background-color: green;
  //height: 560px;
  height: 29.167vw;
  //outline: 2px solid black;
}
.sumonernames {
  font-size: 1.5vw;
}
/////////////////////
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Float the list items side by side */
ul.tab li {
  float: left;
  width: calc(100%  /3);
}
/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
////////////////////////
//champ tab style list//
ul.tabChamp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tabChamp li {
  float: left;
  width: calc(100% / 8);
}
/* Style the links inside the list items */
ul.tabChamp li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
    //height: 100px;

}

/* Change background color of links on hover */
ul.tabChamp li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tabChamp li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontentChamps {
    display: none;
    //padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
