body {

}
.chart {
  width: 100%;
  min-height: 450px;
}
input[type="file"] {
    display: none;
}
.inputItem {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px 24px;
  font-size: 25px;
  border-radius: 10px;
  border-width: 4px;
  //background-color: #C4CCFF;
  cursor: pointer;

  transition: 300ms;
  &:hover {
    background-color: #C4CCFF;
    border-color: black;
    border-radius: 0px;
    transition: 600ms;
    box-shadow:0px 0px 20px #888888;
  }
}
.input {
  background: linear-gradient(#C4CCFF, white);
  //background-image: url(sindriminn.png);
  cursor: wait;
  //cursor: wait;
  position: absolute;
  width: 100%;
  height: 100%;
}

#tooltip {
  width:70px;
  height:70px;
  position:absolute;
  top:0;
  left: 110%;
  background-image: url('http://i.imgur.com/NQmXGMg.png');
  background-size: 100% 100%;
  &:hover .tooltiptext {
    visibility: visible;
  }
}
/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 105%;
    left: -92.6%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.process {
  background: linear-gradient(#C4CCFF, white);
  position: absolute;
  width: 100%;
  height: 100%;
}

.process p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;

}
.display {
  background: linear-gradient(to bottom, #e0e0e0, #f0f0f0);
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1000px;

}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto;
  /* 15% from the top and centered */
  //display: inline-block;
  padding: 20px;
  border: 1px solid #888;
  //width: 25%;
  //min-width: 350px;
  width: 350px;
  /* Could be more or less, depending on screen size */
  // height: 70%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.summNameListHeader {
  list-style: none;
  margin-bottom: 10px;
  font-weight: bold;
}
.setItemGreen {
  background-color: #63ff75 !important;
  //min-width: 250px !important;
}
.addInputLook {
  margin-top: 2px;
}
.addButtonLook {
  background-color: gray !important;
  margin-top: 5px;
  transition: 200ms;
  &:hover {
    background-color: #C4CCFF !important;
    transition: 200ms;
  }
}
.lockButtonLook {
  margin-bottom: 30px;
  min-width: 250px !important;
}
/////////////////

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    //background-image: url('searchicon.png');
    //background-position: 14px 12px;
    //background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    //background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);height: 200px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border-top-style: solid;
    border-width: 1px;
    &:nth-of-type(2n) {
      //background-color: #C4CCFF;
    }
}

.dropdown a:hover {background-color: #ddd;}

.show {display:block;}
